/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}




/* 2. Content ================================= */

#visualizer-canvas {
	// width: 100%;
	z-index: -1;
	position: absolute;
}

.content {

	figcaption {
		font-size: 40px;
	}

	p {
		color: white;
	}

	label {
		color: white;
	}


	.sliders {
		display: flex;
		justify-content: baseline;
		flex-direction: column;	

	}


	.drum-buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-left: auto;

		.kickPlayButton {
			width: 50px;
			height: 50px;
			background: red;
			text-align: center;
			margin: 20px;
		}

		.hihatPlayButton {
			width: 50px;
			height: 50px;
			background: red;
			text-align: center;
			margin: 20px;
		}

		.clapPlayButton {
			width: 50px;
			height: 50px;
			background: red;
			text-align: center;
			margin: 20px;
		}

		.snarePlayButton {
			width: 50px;
			height: 50px;
			background: red;
			text-align: center;
			margin: 20px;
		}

		.boomPlayButton {
			width: 50px;
			height: 50px;
			background: red;
			text-align: center;
			margin: 20px;
		}
	}
}

